header {
  background-color: green; 
  width: 100%; 
}
section {
  background-color: blue; 
  width: 100%; 
}
article {
  background-color: yellow; 
  width: 100%; 
}
footer {
  background-color: purple; 
  width: 100%; 
}
.button {
  background-color:grey;
  float:left;
}
